In [32]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [33]:
# Warnings
import warnings
warnings.filterwarnings('ignore')

In [34]:
# Style
sns.set(style='darkgrid')
plt.rcParams["patch.force_edgecolor"] = True

In [35]:
import os
print(os.listdir("C:/Users/user/Desktop/BreadBasket_DMS_1_"))

['BreadBasket_DMS_1_.csv']

In [36]:
df = pd.read_csv("C:/Users/user/Desktop/BreadBasket_DMS_1_/BreadBasket_DMS_1_.csv")

In [37]:
print('Dataset Information: \n')
print(df.info())

Dataset Information:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21293 entries, 0 to 21292
Data columns (total 4 columns):
Date           21293 non-null object
Time           21293 non-null object
Transaction    21293 non-null int64
Item           21293 non-null object
dtypes: int64(1), object(3)
memory usage: 665.5+ KB
None

In [38]:
print('Unique Items: ', df['Item'].nunique())
print( '\n', df['Item'].unique()) #列出每個項目

Unique Items:  95

 ['Bread' 'Scandinavian' 'Hot chocolate' 'Jam' 'Cookies' 'Muffin' 'Coffee'
 'Pastry' 'Medialuna' 'Tea' 'NONE' 'Tartine' 'Basket' 'Mineral water'
 'Farm House' 'Fudge' 'Juice' "Ella's Kitchen Pouches" 'Victorian Sponge'
 'Frittata' 'Hearty & Seasonal' 'Soup' 'Pick and Mix Bowls' 'Smoothies'
 'Cake' 'Mighty Protein' 'Chicken sand' 'Coke' 'My-5 Fruit Shoot'
 'Focaccia' 'Sandwich' 'Alfajores' 'Eggs' 'Brownie' 'Dulce de Leche'
 'Honey' 'The BART' 'Granola' 'Fairy Doors' 'Empanadas' 'Keeping It Local'
 'Art Tray' 'Bowl Nic Pitt' 'Bread Pudding' 'Adjustment' 'Truffles'
 'Chimichurri Oil' 'Bacon' 'Spread' 'Kids biscuit' 'Siblings'
 'Caramel bites' 'Jammie Dodgers' 'Tiffin' 'Olum & polenta' 'Polenta'
 'The Nomad' 'Hack the stack' 'Bakewell' 'Lemon and coconut' 'Toast'
 'Scone' 'Crepes' 'Vegan mincepie' 'Bare Popcorn' 'Muesli' 'Crisps'
 'Pintxos' 'Gingerbread syrup' 'Panatone' 'Brioche and salami'
 'Afternoon with the baker' 'Salad' 'Chicken Stew' 'Spanish Brunch'
 'Raspberry shortbread sandwich' 'Extra Salami or Feta' 'Duck egg'
 'Baguette' "Valentine's card" 'Tshirt' 'Vegan Feast' 'Postcard'
 'Nomad bag' 'Chocolates' 'Coffee granules ' 'Drinking chocolate spoons '
 'Christmas common' 'Argentina Night' 'Half slice Monster ' 'Gift voucher'
 'Cherry me Dried fruit' 'Mortimer' 'Raw bars' 'Tacos/Fajita']

In [39]:
print(df.isnull().sum().sort_values(ascending=False))

Item           0
Transaction    0
Time           0
Date           0
dtype: int64

In [40]:
print('First Ten Rows of the DataFrame: \n')
print(df.head(10))

First Ten Rows of the DataFrame:

         Date      Time  Transaction           Item
0  2016/10/30  09:58:11            1          Bread
1  2016/10/30  10:05:34            2   Scandinavian
2  2016/10/30  10:05:34            2   Scandinavian
3  2016/10/30  10:07:57            3  Hot chocolate
4  2016/10/30  10:07:57            3            Jam
5  2016/10/30  10:07:57            3        Cookies
6  2016/10/30  10:08:41            4         Muffin
7  2016/10/30  10:13:03            5         Coffee
8  2016/10/30  10:13:03            5         Pastry
9  2016/10/30  10:13:03            5          Bread

In [41]:
print('Unique Items: ', df['Item'].nunique())
print( '\n', df['Item'].unique())

Unique Items:  95

 ['Bread' 'Scandinavian' 'Hot chocolate' 'Jam' 'Cookies' 'Muffin' 'Coffee'
 'Pastry' 'Medialuna' 'Tea' 'NONE' 'Tartine' 'Basket' 'Mineral water'
 'Farm House' 'Fudge' 'Juice' "Ella's Kitchen Pouches" 'Victorian Sponge'
 'Frittata' 'Hearty & Seasonal' 'Soup' 'Pick and Mix Bowls' 'Smoothies'
 'Cake' 'Mighty Protein' 'Chicken sand' 'Coke' 'My-5 Fruit Shoot'
 'Focaccia' 'Sandwich' 'Alfajores' 'Eggs' 'Brownie' 'Dulce de Leche'
 'Honey' 'The BART' 'Granola' 'Fairy Doors' 'Empanadas' 'Keeping It Local'
 'Art Tray' 'Bowl Nic Pitt' 'Bread Pudding' 'Adjustment' 'Truffles'
 'Chimichurri Oil' 'Bacon' 'Spread' 'Kids biscuit' 'Siblings'
 'Caramel bites' 'Jammie Dodgers' 'Tiffin' 'Olum & polenta' 'Polenta'
 'The Nomad' 'Hack the stack' 'Bakewell' 'Lemon and coconut' 'Toast'
 'Scone' 'Crepes' 'Vegan mincepie' 'Bare Popcorn' 'Muesli' 'Crisps'
 'Pintxos' 'Gingerbread syrup' 'Panatone' 'Brioche and salami'
 'Afternoon with the baker' 'Salad' 'Chicken Stew' 'Spanish Brunch'
 'Raspberry shortbread sandwich' 'Extra Salami or Feta' 'Duck egg'
 'Baguette' "Valentine's card" 'Tshirt' 'Vegan Feast' 'Postcard'
 'Nomad bag' 'Chocolates' 'Coffee granules ' 'Drinking chocolate spoons '
 'Christmas common' 'Argentina Night' 'Half slice Monster ' 'Gift voucher'
 'Cherry me Dried fruit' 'Mortimer' 'Raw bars' 'Tacos/Fajita']

In [42]:
print(df.isnull().sum().sort_values(ascending=False)) #看數據有沒有遺漏直

Item           0
Transaction    0
Time           0
Date           0
dtype: int64

In [43]:
print(df[df['Item']=='NONE']) #找出數據集的none直

             Date      Time  Transaction  Item
26     2016/10/30  10:27:21           11  NONE
38     2016/10/30  10:34:36           15  NONE
39     2016/10/30  10:34:36           15  NONE
66     2016/10/30  11:05:30           29  NONE
80     2016/10/30  11:37:10           37  NONE
85     2016/10/30  11:55:51           40  NONE
126    2016/10/30  13:02:04           59  NONE
140    2016/10/30  13:37:25           65  NONE
149    2016/10/30  13:46:48           67  NONE
167    2016/10/30  14:32:26           75  NONE
183    2016/10/31  08:47:05           82  NONE
201    2016/10/31  09:22:48           91  NONE
226    2016/10/31  10:07:40          103  NONE
235    2016/10/31  10:21:29          105  NONE
272    2016/10/31  11:42:05          123  NONE
282    2016/10/31  11:55:00          128  NONE
398     2016/11/1  09:26:03          184  NONE
413     2016/11/1  10:56:08          192  NONE
419     2016/11/1  11:06:09          195  NONE
431     2016/11/1  11:22:36          201  NONE
547     2016/11/2  08:07:05          257  NONE
560     2016/11/2  09:05:25          266  NONE
577     2016/11/2  09:52:58          274  NONE
587     2016/11/2  10:15:48          279  NONE
628     2016/11/2  12:11:56          298  NONE
718     2016/11/3  08:15:21          346  NONE
726     2016/11/3  08:49:23          348  NONE
788     2016/11/3  11:51:52          380  NONE
808     2016/11/3  12:16:15          387  NONE
810     2016/11/3  12:23:47          388  NONE
...           ...       ...          ...   ...
20232    2017/4/1  13:36:26         9211  NONE
20285    2017/4/2  09:49:32         9232  NONE
20289    2017/4/2  09:51:23         9234  NONE
20316    2017/4/2  10:50:11         9245  NONE
20332    2017/4/2  12:00:43         9254  NONE
20352    2017/4/2  13:19:35         9261  NONE
20376    2017/4/2  15:01:07         9270  NONE
20391    2017/4/2  15:22:05         9274  NONE
20412    2017/4/3  10:09:47         9286  NONE
20429    2017/4/3  10:45:41         9293  NONE
20460    2017/4/3  13:24:13         9309  NONE
20526    2017/4/4  07:58:54         9339  NONE
20538    2017/4/4  09:04:01         9346  NONE
20573    2017/4/4  12:18:12         9366  NONE
20574    2017/4/4  12:18:56         9367  NONE
20577    2017/4/4  12:19:48         9368  NONE
20678    2017/4/5  11:02:01         9406  NONE
20686    2017/4/5  11:05:00         9407  NONE
20799    2017/4/6  09:28:32         9457  NONE
20917    2017/4/7  08:47:29         9506  NONE
20919    2017/4/7  08:57:19         9507  NONE
20964    2017/4/7  13:06:01         9529  NONE
21010    2017/4/7  17:30:07         9550  NONE
21077    2017/4/8  10:44:44         9579  NONE
21080    2017/4/8  10:48:43         9580  NONE
21108    2017/4/8  11:54:22         9590  NONE
21122    2017/4/8  12:58:25         9599  NONE
21254    2017/4/9  12:01:07         9666  NONE
21255    2017/4/9  12:04:13         9667  NONE
21266    2017/4/9  12:31:28         9672  NONE

[786 rows x 4 columns]

In [44]:
df.drop(df[df['Item']=='NONE'].index, inplace=True) #消除NONE的數據

In [45]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20507 entries, 0 to 21292
Data columns (total 4 columns):
Date           20507 non-null object
Time           20507 non-null object
Transaction    20507 non-null int64
Item           20507 non-null object
dtypes: int64(1), object(3)
memory usage: 801.1+ KB
None

In [48]:
#麵包店裡賣得最多的東西
most_sold = df['Item'].value_counts().head(15)

print('Most Sold Items: \n')
print(most_sold)

Most Sold Items:

Coffee           5471
Bread            3325
Tea              1435
Cake             1025
Pastry            856
Sandwich          771
Medialuna         616
Hot chocolate     590
Cookies           540
Brownie           379
Farm House        374
Muffin            370
Alfajores         369
Juice             369
Soup              342
Name: Item, dtype: int64